langchain>=0.2,<0.3
langchain-core>=0.2,<0.3
langchain-openai>=0.1,<0.2
langchain-huggingface>=0.0.3,<0.1
langchain-community>=0.2,<0.3
langchain-text-splitters>=0.2,<0.3
faiss-cpu
pypdf
pymupdf
neo4j
fastapi
uvicorn
python-dotenv
sentence-transformers
pydantic
rank_bm25
ragas==0.1.10